html{
    width: 101%!important};p{
    margin-bottom: 0px!important;
}
p{margin-bottom: 0px!important;}
.myflex{display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}
.textsecondary{color: #ffffffb0;}
.navfontsize{
    font-size: small;
}.card3{height: 28rem!important;width: 22rem;}
.menuitems{
    display: inline;
}.sizeof{    text-align: end;font-size: 3rem;}
.borderradius{
    border-radius: 1.5rem!important;
    width: 15rem;
}.large{
    width: 22rem;
}
.luggage{
margin-left: 21%;
}.dining{
    margin-left: 6%;
}
.security{
margin-right: 3%;
}
.verandah{
    margin-left: 6%;
}
.staff{
    margin-left: 27%;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem!important;
}.guard{    margin-bottom: 4px;
    margin-top: 8px;}
    .mybutton{
        border-radius: 1.5rem!important;
        color: #4a6d6e!important;
        -bs-btn-border-color: #4a6d6e!important;
        width: 30%;
        height: 15%;
    }
    .split1{
        margin-right: 3px;
        padding-bottom: 20px;
    } .split2{
        margin-right: 3px;
        padding-top: 20px;
    }.split3{
        margin-right: 3px;
        padding-bottom: 15px;
    }
    .split4{
        margin-right: 3px;
        padding-top: 14px;
    }
    .serviceimg{
        border-radius: 1rem;
    }.image-rotate {
        transform: rotate(-10deg);
        height: 0px;
      }.image-rotate1 {
        transform: rotate(10deg);
        height: 0px;
      }.carousel-caption{
        position: static!important;
      }
      .slide{
        background-color:#4a6d6e;;

      }
      .names{margin-bottom: 0px;
        text-align:end;
        margin-top: 2rem;
        margin-right: 8rem;}.name{margin-bottom: 0px;
            text-align: end;
            margin-right: 8rem;}
      .star{
        color:yellow;
      }.vh{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        text-align: justify;

      }
      .carousel-caption{
        height: 60vh;
      }
      .myhh{
        color: #ffffffb8;
        background-color: #4a6d6e;
        margin-bottom: 0px;
      }
      .myh{background-color: #4a6d6e;
        margin-bottom: 0px;
        color: white;}
      .room{
        position: relative;
      }
      .bed{position: relative;
        bottom: 10px;
       }
    
    .split5{
        margin-right: 3px;
        padding-bottom: 11px;
    }
    .mybutton:hover{
        background-color: #4a6d6e!important;
        -bs-btn-border-color: #4a6d6e!important;
        color: white!important;
    }
    .back{
        margin-left: 0px!important;
        margin-right: 0px!important;
        max-width: 100%!important;
        background-color: #4a6d6e;
        padding-top: 3rem;
        color: white;
    }body {
        overflow-x: hidden;
      }
    .iconscroll {
        display: inline-block;
        margin-right: 20px; /* Add some space between the icons */
        white-space: nowrap; /* Prevent wrapping */
    }.card1{
    position: relative;
    border-radius: 1.5rem!important;
    top: -38px;
    z-index: 99;
}.accordion-button:focus {
    box-shadow: none!important;
    border-color: rgba(0,0,0,.125);
}.carousel-control-next, .carousel-control-prev {display: flex!important;}
a{display: contents!important;
    color: white!important;}.sticky-top{
        background-color: #fff;
    }.insta{
        color: #ED4956;
    }.youtube{color: #FF0000;}
    .insta:hover{
        color: #ed4957a2;
    }.fb{color: #1877F2;}
    .navcolor{
        color: black!important;
    }
.contact{
   background-color: #4a6d6e!important;
   color: white;
    
}body {
    -ms-overflow-style: none;
  }
.shakthi {
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}
.welcome {
    color: white;
    font-weight: lighter;
    margin-left: 1rem;
    margin-top: 11rem;
}
.colone{    height: 16rem;
    background-color: #6495ed75;}
.colthree{    height: 14.4rem;
        background-color: #d44638de;}
.colfour{    height: 14.4rem;
            background-color:#989b9d;}
    .cardcolor{background-color: #003233b5!important;
    border-radius: 1.5rem;
    height: 14rem;
color: white!important;}
    .coltwo{
        height: 16rem;
        background-color: rgb(107, 160, 95);
    }
    .cardouter{    border-radius: 1.5rem!important;
        border-color: white!important;}
    .notinmobile{
        padding: 1.25rem;
    }
      
.rempad{    padding-right: 0px!important;
}.tops{
    margin: 1rem;
    margin-top: 5rem;
}
.shs{
    font-weight: 800!important;
}.accordion-button:not(.collapsed) {
    color: #fff!important;
    background-color: #4a6d6e!important;
}.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}.map{
    width: 100%;
    height: 30rem;
}
.card-body {
    padding: 1rem!important;

}
.features{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 6px!important;
    align-content: center;
    justify-content: space-evenly;
}
.myicon{  color: #4a6d6e;
    transition: transform 0.3s; /* Add smooth transition for the zoom effect */
}
.myicon:hover {
    color: black; 
    transform: scale(1.1); /* Increase the size by 10% */

  }.text-left{
    text-align: left!important;
  }.myr{
    width: 70%;
  }.highlight{
    background-color: #4a6d6e;
  }
@media only screen and (max-width: 1000px) {
    .remove{
        display: none!important;
    }html,body{
        overflow-x: hidden;
    }
.myr{
        width: 95%;
        padding-left: 0px!important;
    }
    .mybutton{
        width: 100%;
    }.mt{
        margin-top: 3rem!important;
    } .rempad{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }.homeimg{height: 21rem!important;}
    .imgm{width: 4.2rem!important;}
    .extramob{
        margin-top: 4rem!important;
      } .menuitems{
        display: block;
    }.names{margin-right: 3rem;}
    .name{margin-right: 3rem;}
    .s-hide{
        display: none!important;
    }.vh {
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 24%;
        text-align: justify;
    }
    .notinmobile{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 5px;
        padding-right: 5px;
        
    }
  }
  .mst{margin-left: 2px;}